.popuptext {
   /*flex-direction: */
   visibility: hidden; 
    width: 160px;
    background-color: white;
    border: 1px solid black;
    /*text-align: center;*/
    border-radius: 6px;
    padding: 20px;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -50px;
    margin-top:30px;
}


#p {
   font-family: Open Sans;
   font-size: xx-large;
font-style: italic;
  /* text-align: left;*/
   margin: 10px;
   color: #2E3C9C;
/*float:left;*/
  width: 40%;
  padding: 10px;
font-weight: 800;
}

#tags{
display:flex;
flex-direction:row;
}
.tagbtn{
    border: none;
    border-radius: 2px;
    background-color: #85c1b5;
    color: white;
    padding: 7px 7px 5px 7px;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    margin :3px;
}

body {
	min-height: 100vh;  /* need this line to 
					tell body to fill viewport */
	font-family: 'Montserrat', sans-serif;
	/*background-color: white;*/
/*	display: flex;*/
/*	flex-direction: column;*/
	color: blue;
	margin: 15px; 
    }

header {
       text-align: center;
       padding: 10px;
	  
}

#hide{
color:gray;

}


main {
     flex: 1 0 auto;  /* the sticky footer trick without the footer */
}


input {
	border-style: solid;
	border-radius: 5px;
	font-size: medium;
}


p {
	font-size: medium;
	margin: 10px;
}

#parent{
	display-flex:column;
}


div.selectedControls{
 display: flex;
 align-items: center; 
 justify-content: center;
 left: 4px;
 top: 4px;
 position: absolute;
 flex-wrap: wrap;
 height: 100%;
}
p.tagText {
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: x-large;
 margin: 10px;
 background-color: #77A0CC;
 padding: 5px;
 border-radius: 10px;
 color: white;
 word-break: break-all;
}
p.addtagText {
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: x-large;
 margin: 10px;
 background-color: #77A0CC;
 padding: 5px;
 border-radius: 10px;
 color: white;
 word-break: break-all;
}
div.normalControls {
display: none;
}

/* Photo tile - position and size will be given by PhotoGallery */
div.tile {
    backgroundColor: #eee;
    cursor: pointer;
    overflow: hidden; 
    float: left;
    position: relative;
}

/* Tag styling */


img {
    width:100%;
    display: block;
}

/* so far nothing special when image selected */
img.normal {
}

img.selected {
}

